@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #2887ff;
    --primary-color-dark: #2476da;
    --text-dark: #0a0a0a;
    --text-light: #737373;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --trans: all 0.3s ease;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.site-grid {
    display: grid;
    grid-template-columns: 28% 72%;
}

#cruise-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid1-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    display: flex;
    gap: 10px;
}

.price-range-text {
    display: flex;
    justify-content: space-between;
    width: 130px;
}

.flatpickr-input {
    width: 308px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #e2e2e2;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    height: 100%;
    margin: 15px;
    h3 {
        color: #052d5e;
    }
    p{
        color: #525151;
        a {
            color: #787878;
        }
    }
    span {
        display: block; 
        i {
            color: #ffd500;
        }
    }
}

.cruise-card {
    box-shadow: 0px 0px 12px 6px #efefef;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.cruise-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cruise-card-header {
    position: relative;
}

.card-name {
    i {
        color: #2887ff;
    }
}

.img-top {
    color: white;
    margin-left: 15px;
    position: absolute;
    bottom: 10px;
    p {
        font-size: 18px;
        font-family: 'Montserrat';
        text-transform: uppercase;
    }
}

.tour-details {
    display: flex;
    justify-content: space-between;
    p {
        font-size: 10px;
        padding: 5px 10px;
        background-color: #eeeeee;
        border-radius: 30px;
    }
    span {
        color: #049f2e;
        font-weight: bolder;
    }
}

.details-btn {
    padding: 10px;
    background-color: #2887ff;
    color: white;
    border-radius: 30px;
    border: none;
    margin-bottom: 10px;
}

/* (Phone) */
@media (max-width: 540px) {
    section {
        width: 90%;
    }
    .grid1-wrapper {
        display: none;
    }
    .site-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    #cruise-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* (Tablets) */
@media (min-width: 541px) and (max-width: 1024px) {
    section {
        width: 90%;
    }

    .datediv {
        display: none;
    }

    #cruise-container {
        grid-template-columns: repeat(2, 1fr);
    }
}