@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: #2887ff;
    --primary-color-dark: #2476da;
    --text-dark: #0a0a0a;
    --text-light: #737373;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --trans: all 0.3s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 5rem 1rem;
}

.section__header {
    margin-bottom: 5px;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;
}

.section__description {
    max-width: 600px;
    margin-inline: auto;
    color: var(--text-light);
    text-align: center;
}

header {
    padding-inline: 1rem;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    height: 600px;
}

header::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.header__container {
    width: var(--max-width);
    margin: 0 auto;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    gap: 10px;
}

.header__content p {
    color: white;
}

.header__content h1 {
    font-size: 4.5rem;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    color: white;
    line-height: 5.5rem;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.swiper-slide {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.swiper-button-next {
    position: absolute;
    right: -2px;
}

.swiper-button-prev {
    position: absolute;
    left: -2px;
}

.client__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    background-color: var(--extra-light);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: var(--trans);
}

.client__card:hover {
    background-color: var(--primary-color);
}

.client__content {
    padding: 1rem;
    height: 100%;
    background-color: var(--white);
    border-radius: calc(1rem - 5px);
}

.client__rating {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.client__content p {
    color: var(--text-dark);
}

.client__details {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.client__details img {
    max-width: 50px;
    border-radius: 100%;
}

.client__details h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5rem;
    transition: 0.3s;
    cursor: pointer;
}

.client__card:hover h4 {
    color: var(--white);
}

.client__details h5 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
}

.client__card:hover h5 {
    color: var(--extra-light);
}

.destination__grid {
    display: grid;
    width: 100%;
    gap: 20px;
}

.destination__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
}

.destination__card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 1.5rem;
}

.destination__rating {
    padding: 5px 10px;
    font-size: 0.9rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
    transition: 0.3s;
}

.destination_card:hover .destination_rating {
    background-color: var(--primary-color-dark);
}

.video-wrapper {
    height: 500px;
    position: relative;
}

.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive Design */

/* (Phones) */
@media (max-width: 540px) {
    .destination__grid {
        grid-template-columns: 1fr;
    }
    .destination__rating {
        padding: 4px 8px;
        font-size: 0.8rem;
    }
    .header__content {
        margin-top: 30px;
    }
    .header__content h1 {
        font-size: 35px;
        line-height: 1.3;
    }

    .header__content p {
        margin-top: 15px;
        font-size: 12px;
    }
    .video-wrapper {
        height: auto;
    }

    .video-wrapper video {
        width: 100%;
        height: auto;
    }
    .client__card {
        width: 95%;
    }
}

/* (Tablets) */
@media (min-width: 541px) and (max-width: 1024px) {
    .destination__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .header__content h1 {
        font-size: 50px;
        line-height: 1.2;
    }

    .header__content p {
        margin-top: 15px;
        font-size: 12px;
    }

    .video-wrapper {
        height: auto;
    }

    .video-wrapper video {
        width: 100%;
        height: auto;
    }

    .swiper-slide{
        width: 100%;
        height: 100%;
    }
}

/* (Desktops and Widescreens) */
@media (min-width: 1025px) {
    .destination__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem 1rem;
        justify-items: center;
        margin-top: 4rem;
    }
    .client__card {
        width: 95%;
    }
}