:root {
    --primary-color: #2887ff;
    --primary-color-dark: #2476da;
    --text-dark: #0a0a0a;
    --text-light: #737373;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --trans: all 0.3s ease;
}

* {
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.nav-container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 10px; 
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav__logo a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.nav__links {
    display: none;
    list-style: none;
    gap: 30px;
    flex-direction: column;
    position: absolute;
    white-space: nowrap;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--extra-light);
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.nav__links a {
    font-weight: bold;
    text-decoration: none;
    color: var(--text-dark);
}

.btnn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white); 
    background-color: var(--text-dark); 
    border-radius: 5rem;
    border: none;
    cursor: pointer;
}

.btnn:hover {
    background-color: #3e3e3e; 
    color: var(--white); 
}

.user-fullname {
    border: 1px solid black;
    padding: 0.75rem 1.5rem;
    border-radius: 5rem;
}

#menu-icon {
    display: none;
    cursor: pointer;
}

.ri-menu-line {
    font-size: 30px;
}

/* Phones */
@media (max-width: 540px) {
    .nav__links {
        display: none;
        flex-direction: column;
    }

    .btnn, #fullname {
        display: none;
    }

    #menu-icon {
        display: block;
    }
}

/* (Tablets) */
@media (min-width: 541px) and (max-width: 1024px) {
    .nav__links {
        display: none;
        flex-direction: column;
    }

    .btnn, #fullname {
        display: none;
    }

    #menu-icon {
        display: block;
    }
}

/* (Widescreens) */
@media (min-width: 1025px) {
    .nav__links {
        width: 43%;
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
    }
}
